<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.BookingMapper">
    <select id="selectBookingList" resultType="com.airbnb.airbnb_service.data.response.TripResponseVO">
        SELECT 
                bi.bi_seq,
                bi.bi_start_dt,
                bi.bi_end_dt,
                bi.bi_reg_dt,
                bi.bi_status,
                bi.bi_confirm_dt,
                bgi.bgi_adult AS adult,
                bgi.bgi_child AS child,
                bgi.bgi_infant AS infant,
                bgi.bgi_dog AS dog,
                hi.hi_seq,
                hi.hi_name,
                cc.cc_content AS country,
                hai.hai_city AS city,
                hai.hai_detail AS detail,
                himg.himg_file AS main_img,
                IFNULL(wish_seq,0) AS wish_seq
        FROM booking_info bi
        LEFT JOIN booking_guest_info bgi 
            ON bi.bi_seq = bgi.bgi_bi_seq 
        LEFT JOIN house_info hi 
            ON hi.hi_seq = bi.bi_hi_seq
        LEFT JOIN house_address_info hai 
            ON hi.hi_seq = hai.hai_hi_seq 
        LEFT JOIN house_img himg
            ON hi.hi_seq = himg.himg_hi_seq
        LEFT JOIN category_country cc 
            ON cc.cc_seq = hai.hai_cc_seq
        LEFT JOIN wish_info wish 
            ON bi.bi_hi_seq = wish.wish_hi_seq AND bi.bi_mi_seq = wish.wish_mi_seq 
        WHERE bi_mi_seq = #{user_seq} AND himg_main = 1
    </select>

</mapper>