<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.BookingMapper">
    <select id="selectBookingList" resultType="com.airbnb.airbnb_service.data.response.TripResponseVO">
        SELECT 
            bi.bi_seq,
            bi.bi_start_dt,
            bi.bi_end_dt,
            bi.bi_reg_dt,
            bi.bi_status,
            bi.bi_confirm_dt,
            bgi.bgi_adult AS adult,
            bgi.bgi_child AS child,
            bgi.bgi_infant AS infant,
            bgi.bgi_dog AS dog,
            hi.hi_seq,
            hi.hi_name,
            cc.cc_content AS country,
            hai.hai_city AS city,
            hai.hai_detail AS detail,
            himg.himg_file AS main_img,
            bfi.bfi_basic_fee as basic_fee,
            bfi.bfi_cleaning_fee as clean_fee,
            bfi.bfi_service_fee as service_fee,
            bfi.bfi_total_fee as total_fee
        FROM booking_info bi
        LEFT JOIN booking_guest_info bgi 
            ON bi.bi_seq = bgi.bgi_bi_seq 
        LEFT JOIN house_info hi 
            ON hi.hi_seq = bi.bi_hi_seq
        LEFT JOIN house_address_info hai 
            ON hi.hi_seq = hai.hai_hi_seq 
        LEFT JOIN house_img himg
            ON hi.hi_seq = himg.himg_hi_seq
        LEFT JOIN category_country cc 
            ON cc.cc_seq = hai.hai_cc_seq
        LEFT JOIN booking_fee_info bfi
            ON bi.bi_seq = bfi.bfi_bi_seq
        WHERE bi_mi_seq = #{user_seq} AND himg_main = 1
        <if test = "period == 1">
            and bi_status != 2 and date(bi_start_dt) <![CDATA[>=]]> now()
        </if>
        <if test = "period == 2">
            and bi_status = 1 and date(bi_start_dt) <![CDATA[<]]> now()
        </if>
        order by bi.bi_start_dt desc limit 10 offset #{offset}
    </select>
    <select id="selectBookingCount" resultType="com.airbnb.airbnb_service.data.response.TripCountPageVO">
        select 
            count(
                case 
                    when date(bi_start_dt) <![CDATA[>=]]> date(now())
                    then 1 
                end
                /10) as beforeCnt, 
            count(
                case 
                    when date(bi_start_dt) <![CDATA[<]]> date(now()) and bi_status = 1
                    then 1 
                end
                /10) as afterCnt
        from booking_info
        where bi_mi_seq = ${user_seq} and bi_status!=2
    </select>
    <select id="selectBookingPageCount" resultType="com.airbnb.airbnb_service.data.response.TripCountPageVO">
        select 
            ceil(count(
                case 
                    when date(bi_start_dt) <![CDATA[>=]]> date(now())
                    then 1 
                end
                )/10) as beforeCnt, 
            ceil(count(
                case 
                    when date(bi_start_dt) <![CDATA[<]]> date(now()) and bi_status = 1
                    then 1 
                end
                )/10) as afterCnt
        from booking_info
        where bi_mi_seq = ${user_seq} and bi_status!=2
    </select>

</mapper>