<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.CategoryMapper">
    <select id="SelectMainCatebar" resultType="com.airbnb.airbnb_service.data.category.CategorybarVO">
        select 1 as table_no, cp_seq as cate_bar_seq, cp_content as cate_bar_content, cp_icon  as cate_bar_icon
        from category_place 
        where cp_type = 1
        union all
        select 3, csd_seq, csd_content, csd_icon
        from category_sort_detail
    </select>
    <select id="SelctFilterCateSortList" resultType="com.airbnb.airbnb_service.data.category.CategorySortVO">
        select * from category_sort
    </select>
</mapper>