<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.CategoryMapper">
    <select id="selectCategoryBar" resultType="com.airbnb.airbnb_service.data.response.CategoryBarResponseVO">
        (
        SELECT 1 AS table_no, 
            cp_seq AS cate_bar_seq,
            cp_content AS cate_bar_content,
            cp_icon  AS cate_bar_icon
        FROM category_place 
        WHERE cp_type = 1
        ) UNION ALL (
        SELECT 3 as table_no, 
                csd_seq, 
                csd_content, 
                csd_icon
        FROM category_sort_detail
        )
    </select>

    <select id="selectCateAmenityList" resultType="com.airbnb.airbnb_service.data.category.CategoryAmenityVO">
        SELECT ca_seq, ca_type, ca_content, ca_icon
        FROM category_amenity
    </select>
    <select id="selectCateLangList" resultType="com.airbnb.airbnb_service.data.category.CategoryLangVO">
        SELECT cl_seq, cl_content
        FROM category_lang
    </select>
    <select id="selectCateSortList" resultType="com.airbnb.airbnb_service.data.category.CategorySortVO">
        SELECT cs_seq, cs_content, cs_icon
        FROM category_sort
    </select>
    <select id="selectCateSortDetailList" resultType="com.airbnb.airbnb_service.data.category.CategorySortDetailVO">
        SELECT csd_seq, csd_cs_seq, csd_content, csd_description, csd_icon
        FROM category_sort_detail
    </select>
    <select id="selectCateCountryList" resultType="com.airbnb.airbnb_service.data.category.CategoryCountryVO">
        SELECT cc_seq, cc_content
        FROM category_country
    </select>


</mapper>