<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.HouseMapper">
    <select id="selectSearchHouseList" resultType="com.airbnb.airbnb_service.data.response.MainViewResponseVO">
        SELECT main.hi_seq,
            main.hi_mi_seq,
            main.hi_name,
            main.main_img,
            main.country,
            main.city,
            main.address,
            main.total_avg,
            main.price,
            main.super_host            
        <if test="user_seq != null">
            ,
            IFNULL(wish.wish,0) AS wish
        </if>
        FROM main_search_view main
        <if test="user_seq != null">
            LEFT JOIN (
                SELECT wish_hi_seq, 1 AS wish
                FROM wish_info
                WHERE wish_mi_seq = #{user_seq}
            )wish
            ON main.hi_seq = wish.wish_hi_seq
        </if>
        <if test="search.cate_place != null">
            LEFT JOIN (
                SELECT hpi_hi_seq, 1 AS place
                FROM house_place_info
                WHERE hpi_cp_seq = #{search.cate_place}
                GROUP BY hpi_hi_seq 
            )hpi
            ON main.hi_seq = hpi.hpi_hi_seq
        </if>
        <if test="search.in_dt != null and search.out_dt != null">
            LEFT JOIN (
                SELECT bi_hi_seq, count(*) AS booking
                FROM booking_info
                WHERE 
                    date(bi_start_dt) BETWEEN #{search.in_dt} AND #{search.out_dt}
                    OR (#{search.out_dt} BETWEEN date(bi_start_dt) AND date(bi_end_dt))
                GROUP BY bi_hi_seq
            )bi
            ON main.hi_seq = bi.bi_hi_seq
        </if>
        <if test="search.amenity.size != 0">
            LEFT JOIN (
                SELECT * FROM house_amenity_info
                WHERE 
                <foreach collection="search.amenity" item="amenity" separator="and">
                    ham_ca_seq = #{amenity.amenity}
                </foreach>
                GROUP BY ham_hi_seq
            )ham
            ON main.hi_seq = ham.ham_hi_seq
        </if>
        <if test="search.lang.size != 0">
            LEFT JOIN (
                SELECT * FROM member_lang_info 
                WHERE 
                <foreach collection="search.lang" item="lang" separator="and">
                    mli_cl_seq = #{lang.lang}
                </foreach>
                GROUP BY mli_mi_seq 
            )mli
            ON main.hi_mi_seq = mli_mi_seq
        </if>
        WHERE main.hi_status = 0
        <if test="search.keyword != null">
            AND (
                    country like concat('%','${search.keyword}','%') 
                    OR city like concat('%','${search.keyword}','%') 
                    OR address like concat('%','${search.keyword}','%')
                )
        </if>
        <if test="search.guest != 0">
            AND guest <![CDATA[>=]]> #{search.guest}
        </if>
        <if test="search.dog != 0">
            AND dog = #{search.dog}
        </if>
        <if test="search.cate_sort_detail != null">
            AND main.cate_sort_detail = #{search.cate_sort_detail}
        </if>
        <choose>
            <when test="search.min != null || search.max != null">
                AND price BETWEEN #{search.min} AND #{search.max}
            </when>
            <when test="search.max != null">
                AND price <![CDATA[>=]]> #{search.min}   
            </when>
            <when test="search.min != null">
                AND price <![CDATA[<=]]> #{search.max}
            </when>
        </choose>
        <if test="search.type != null">
            AND hi_type = #{search.type}
        </if>
        <if test="search.bed != 0">
            AND bed <![CDATA[>=]]> #{search.bed}
        </if>
        <if test="search.bedroom != 0">
            AND bedroom <![CDATA[>=]]> #{search.bedroom}
        </if>
        <if test="search.bathroom != 0">
            AND bathroom <![CDATA[>=]]> #{search.bathroom}
        </if>
        <if test="search.sort != null">
            AND main.cate_sort = #{search.sort}
        </if>
        <if test="search.superhost == 0">
            AND super_host = #{search.superhost}
        </if>
        <if test="search.in_dt != null || search.out_dt != null">
            AND booking = 0
        </if>
    </select>
</mapper>