<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.HTempMapper">
    <select id="selectSearchHouseList" resultType="com.airbnb.airbnb_service.data.MainViewResponse">
	select main.hi_seq,
		main.hi_mi_seq,
		main.main_img,
		main.country,
		main.city,
		main.address,
		main.total_avg,
		main.price,
        <if test="user_seq != null">
            IFNULL(wish.wish,0) as wish,
        </if>
        <if test="searchRequest.place != null">
            IFNULL(hpi.place,0) as place,        
        </if>
        <if test="searchRequest.in_dt != null and searchRequest.out_dt != null">
            IFNULL(bi.booking,0) as booking        		
        </if>
    from main_search_view main
    <if test="user_seq != null">
    left join (
        select wish_hi_seq, 1 as wish
        from wish_info
        where wish_mi_seq = #{user_seq} #조건문 #user_seq 로그인유저번호
    )wish
    on main.hi_seq = wish.wish_hi_seq
    </if>
    <if test="searchRequest.place != null">
    left join (
        select hpi_hi_seq, 1 as place
        from house_place_info
        where hpi_cp_seq = #{searchRequest.place} #카테고리바 위치특징(table_no=1)번호
        group by hpi_hi_seq 
    )hpi
    on main.hi_seq = hpi.hpi_hi_seq
    </if>
    <if test="searchRequest.in_dt != null and searchRequest.out_dt != null">
    left join (	#조건문 #검색바 체크인 체크아웃
        select bi_hi_seq, count(*) as booking
        from booking_info
        where date(bi_start_dt) BETWEEN #{searchRequest.in_dt} AND #{searchRequest.out_dt}
        or (#{searchRequest.out_dt} BETWEEN date(bi_start_dt) AND date(bi_end_dt))
        group by bi_hi_seq
    )bi
    on main.hi_seq = bi.bi_hi_seq
    </if>
    <if test="searchRequest.amenity != null">
    left join (
        select * from house_amenity_info
        where 
        <foreach collection="searchRequest.amenity" item="amenity" separator="and">
            ham_ca_seq = #{amenity} #조건문 #검색필터 편의시설 체크마다 편의시설번호로 and문
        </foreach>
        group by ham_hi_seq
    )ham
    on main.hi_seq = ham.ham_hi_seq
    </if>
    <if test="searchRequest.lang != null">
    left join (
        select * from member_lang_info 
        where 
        <foreach collection="searchRequest.lang" item="lang" separator="and">
            mli_cl_seq = #{lang} #조건문 #검색필터 호스트 언어 체크마다 and문
        </foreach>
        group by mli_mi_seq 
    )mli
    on main.hi_mi_seq = mli_mi_seq
    </if>
    where main.hi_status = 0 #블라인드여부(0정상1블라인드)
        <if test="searchRequest.sort != null">
        and main.cate_sort = #{searchRequest.sort} #검색필터 숙소유형
        </if>
        <if test="searchRequest.sort_detail != null">
        and main.cate_sort_detail = #{searchRequest.sort_detail} #카테고리바 숙소상세유형(table_no=3)
        </if>
        <if test="searchRequest.keyword != null">
        and (country like concat('%','${searchRequest.keyword}','%') or city like concat('%','${searchRequest.keyword}','%') or address like concat('%','${searchRequest.keyword}','%')) #검색바 검색어(위치)
        </if>
        <if test="searchRequest.guest != null">
        and guest >= 0 #검색바 인원(성인+아동+유아)
        </if>
        <if test="searchRequest.dog != null">
        and dog = 0 #검색바 인원(반려동물>0?1:0)
        </if>
        <if test="searchRequest.price != null">
        and price between 0 and 10000 #검색필터 min max숙박기본요금
        </if>
        <if test="searchRequest.type != null">
        and hi_type = #{searchRequest.type} #검색필터 숙소타입1공간전체2개인실3다인실
        </if>
        <if test="searchRequest.bed != null">
        and bed >= #{searchRequest.bed} #검색필터 침대
        </if>
        <if test="searchRequest.bedroom != null">
        and bedroom >= #{searchRequest.bedroom} #검색필터 침실
        </if>
        <if test="searchRequest.bathroom != null">
        and bathroom >= #{searchRequest.bathroom} #검색필터 욕실
        </if>
        <if test="searchRequest.superhost != null">
        and super_host = #{searchRequest.superhost} #검색필터 슈퍼호스트여부(슈퍼호스트1일반0)
        </if>
        and booking = 0 #체크인 아웃 기간에 예약건수0
    </select>

    
    <select id="selectCategoryAmenityList" resultType="com.airbnb.airbnb_service.data.category.CategoryAmenityVO">
            SELECT ca_seq, ca_type, ca_content, ca_icon
            FROM category_amenity
    </select>
    
    <select id="selectCategoryLangList" resultType="com.airbnb.airbnb_service.data.category.CategoryLangVO">
            SELECT cl_seq, cl_content
            FROM category_lang;
    </select>




</mapper>