<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.MemberMapper">
    <select id="selectWishList" resultType="com.airbnb.airbnb_service.data.response.WishViewResponseVO">
        SELECT wish.*,
            hi.hi_name,
            cc.cc_content AS country,
            hai.hai_city AS city,
            hai.hai_detail AS detail,
            himg.himg_file AS main_img,
            hgi.hgi_guest AS guest,
            hgi.hgi_bed AS bed,
            hgi.hgi_bedroom AS bedroom,
            hgi.hgi_bathroom AS bathroom,
            hgi.hgi_dog AS dog,
            hfi.hfi_base_price AS price,
            (SELECT COUNT(*) FROM review_info rev WHERE hi.hi_seq = rev.rev_hi_seq) AS rev_cnt,
            rpv.total_avg 
        FROM wish_info wish
        LEFT JOIN house_info hi 
            ON hi.hi_seq = wish.wish_hi_seq 
        LEFT JOIN house_address_info hai 
            ON hi.hi_seq = hai.hai_hi_seq
        LEFT JOIN category_country cc 
            ON hai.hai_cc_seq = cc.cc_seq 
        LEFT JOIN house_guest_info hgi 
            ON hi.hi_seq = hgi.hgi_hi_seq
        LEFT JOIN house_fee_info hfi 
            ON hi.hi_seq = hfi.hfi_hi_seq 
        LEFT JOIN house_img himg 
            ON hi.hi_seq = himg.himg_hi_seq
        LEFT JOIN rev_point_view rpv 
            ON rpv.rpv_hi_seq = wish.wish_hi_seq 
        WHERE wish.wish_mi_seq = #{user_seq} 
            AND himg.himg_main = 1
    </select>
    <insert id="insertWish">
        INSERT INTO wish_info
        (wish_mi_seq, wish_hi_seq, wish_order)
        VALUES
        (#{user_seq}, #{house_seq}, #{order})
    </insert>    
    <select id="selectWishOrderMax" resultType="java.lang.Integer">
        SELECT MAX(wish_order)
        FROM wish_info
        WHERE wish_mi_seq = #{user_seq}
    </select>        
    <delete id="deleteWish">
        DELETE FROM wish_info
        WHERE wish_mi_seq = #{user_seq} 
            AND wish_seq= #{wish_seq}
    </delete>

    <select id="selectMemberProfile" resultType="com.airbnb.airbnb_service.data.response.ProfileVO">
        SELECT
            mi_seq,
            mi_name AS memeber_name,
            mi_description AS member_desc,
            cc_content AS country,
            mi_company AS company,
            mai_city AS city,
            mai_detail AS member_address,
            mimg_file AS profile_img,
            mi_status AS member_status,
            mi_host_grade AS host_grade,
            mi_reg_dt AS reg_dt
        FROM member_info mi
        LEFT JOIN member_address_info mai
            ON mi.mi_seq = mai.mai_mi_seq
        LEFT JOIN category_country cc
            ON mai.mai_cc_seq = cc.cc_seq
        LEFT JOIN member_img mimg
            on mimg.mimg_mi_seq = mi.mi_seq
        where mi.mi_seq = #{member_seq}
    </select>
    <select id="isDupChkId" resultType="java.lang.Boolean">
        SELECT COUNT(*) 
        FROM member_info 
        WHERE mi_id = #{id}
    </select>
    <insert id="insertMember">
        INSERT INTO member_info
        (mi_id, mi_pwd, mi_name, mi_gender)
        VALUSES
        (#{mi_id}, #{mi_pwd}, #{mi_name}, #{mi_gender})
    </insert>

    <select id="selectLogin" resultType="com.airbnb.airbnb_service.data.member.MemberInfoVO">
        select mi_seq, mi_id, mi_name, mi_gender, mi_description, mi_company, mi_phone, mi_status, mi_host_grade, mi_reg_dt
        from member_info where mi_id = #{id} and mi_pwd = #{pwd}
    </select>
    <select id="selectMemberProfileLanguageList" resultType="java.lang.String">
        select cl_content AS lang
        from member_info mi
        LEFT JOIN member_lang_info mli
            ON mi.mi_seq = mli.mli_mi_seq
        LEFT JOIN category_lang cl
            ON mli.mli_cl_seq = cl.cl_seq
        where mi.mi_seq = #{seq}
    </select>
    <update id="updateMemberProfile">
        UPDATE airbnb_db.member_info
        SET mi_description = #{mi_description}, mi_company = #{mi_company}
        WHERE mi_seq = #{mi_seq}
    </update>
    <select id="isDupChkMemberProfileAddress" resultType="java.lang.Boolean">
        select count(*) from member_address_info where mai_mi_seq = #{mi_seq}
    </select>
    <select id="isDupChkMemberProfileLanguage" resultType="java.lang.Integer">
        select mli_cl_seq from member_lang_info where mli_mi_seq = #{mi_seq}
    </select>
    <insert id="insertMemberProfileAddress">
        INSERT INTO airbnb_db.member_address_info
            (mai_mi_seq, mai_cc_seq, mai_city, mai_detail)
        VALUES
            (#{mi_seq}, #{cc_seq}, #{mai_city}, #{mai_detail})
    </insert>
    <update id="updateMemberProfileAddress">
        UPDATE airbnb_db.member_address_info
        SET mai_cc_seq = #{cc_seq}, mai_city = #{mai_city}, mai_detail = #{mai_detail}
        WHERE mai_mi_seq = #{mi_seq}
    </update>
    <insert id="insertMemberProfileLanguage">
        INSERT INTO airbnb_db.member_lang_info
        (mli_mi_seq, mli_cl_seq)
        VALUES(#{mi_seq}, #{cl_seq})
    </insert>
    <delete id="deleteMemberProfileLanguage">
        DELETE FROM airbnb_db.member_lang_info
        WHERE mli_mi_seq = #{mi_seq}
        and mli_cl_seq = #{cl_seq}
    </delete>

    <select id="isDupChkMemberReport" resultType="java.lang.Integer">
        select count(*) from member_report where mrpt_from_mi_seq = #{mrpt_from_mi_seq} and mrpt_to_mi_seq = #{mrpt_to_mi_seq}
    </select>
    <insert id="insertMemberReport">
        INSERT INTO airbnb_db.member_report
            (mrpt_from_mi_seq, mrpt_to_mi_seq, mrpt_type, mrpt_reason)
        VALUES
            (#{mrpt_from_mi_seq}, #{mrpt_to_mi_seq}, #{mrpt_type}, #{mrpt_reason})
    </insert>

    <select id="selectHostCheckout" resultType="com.airbnb.airbnb_service.data.temp.HostCheckoutVO">
        select 
            bi.bi_seq,
            bi.bi_start_dt,
            bi.bi_end_dt,
            hi.hi_seq,
            hi.hi_name,
            mi.mi_seq,
            mi.mi_name
        from booking_info bi 
        left join house_info hi 
        on bi.bi_hi_seq = hi.hi_seq
        left join member_info mi 
        on bi.bi_mi_seq = mi.mi_seq 
        where hi.hi_mi_seq = #{seq}
        and bi.bi_start_dt <![CDATA[<=]]> now()
        and bi.bi_end_dt <![CDATA[>=]]> now()
        and bi.bi_status = 2
        order by bi.bi_end_dt
    </select>
    <select id="selectHostCheckin" resultType="com.airbnb.airbnb_service.data.temp.HostCheckoutVO">
        select 
            bi.bi_seq,
            bi.bi_start_dt,
            bi.bi_end_dt,
            hi.hi_seq,
            hi.hi_name,
            mi.mi_seq,
            mi.mi_name
        from booking_info bi 
        left join house_info hi 
        on bi.bi_hi_seq = hi.hi_seq
        left join member_info mi 
        on bi.bi_mi_seq = mi.mi_seq 
        where hi.hi_mi_seq = #{seq}
        and bi.bi_start_dt <![CDATA[>=]]> now()
        and bi.bi_status = 1
        order by bi.bi_start_dt
    </select>
    <select id="selectHostingHouseInfo" resultType="com.airbnb.airbnb_service.data.house.HouseInfoVO">
        select hi_seq, hi_name from house_info
        where hi_mi_seq = #{seq}
        <if test="status == true">
            and hi_status = 0
        </if>
    </select>
    <select id="selectHostReviewMsg" resultType="com.airbnb.airbnb_service.data.member.MsgInfoVO">
        select msg.msg_seq, msg.msg_sender_mi_seq, msg.msg_content, mi.mi_name
        from msg_info msg
        left join member_info mi 
        on msg.msg_sender_mi_seq = mi.mi_seq
        where msg.msg_type = 13
        and msg.msg_receiver_mi_seq = #{seq}
    </select>
</mapper>