<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.temp.detailMapper">

    <select id="selectHouseDetail" resultType="com.airbnb.airbnb_service.data.temp.detail.HouseDetailVO">
        SELECT 
            hi.hi_seq AS house_seq,
            hi.hi_name AS house_name,
            hi.hi_description AS house_description,
            hi.hi_rule AS house_rule,
            hi.hi_refund_day AS house_refund_day,
            hi.hi_status AS house_status,
            cc.cc_content AS house_country,
            hai.hai_city AS house_city, hai.hai_detail AS house_address,
            hgi.hgi_guest AS house_guest,
            hgi.hgi_bed  AS house_bed,
            hgi.hgi_bedroom AS house_bedroom,
            hgi.hgi_bathroom AS house_bathroom,
            mi.mi_seq AS host_seq, mi.mi_name AS host_name,
            mi.mi_description AS host_description,
            mi.mi_reg_dt AS host_reg_dt,
            mi.mi_host_grade AS super_host,
            mi.mi_status AS host_status,
            mimg.mimg_file AS host_img
        FROM house_info hi
        LEFT JOIN house_address_info hai 
            ON hi.hi_hai_seq = hai.hai_seq
        LEFT JOIN category_country cc
            ON cc.cc_seq = hai.hai_cc_seq
        LEFT JOIN member_info mi 
            ON hi.hi_mi_seq = mi.mi_seq
        LEFT JOIN member_img mimg 
            ON mi.mi_mimg_seq = mimg.mimg_seq
        LEFT JOIN house_guest_info hgi 
            ON hgi.hgi_seq = hi.hi_hgi_seq
        WHERE hi.hi_seq = #{house_seq}
    </select>
    
    <select id="selectHouseReview" resultType="com.airbnb.airbnb_service.data.temp.detail.HouseReviewVO">
        SELECT 
            mi.mi_seq AS guest_seq,
            rev.rev_content AS guest_review,
            rev.rev_reg_dt AS guest_rev_dt,
            mi.mi_name AS guest_name,
            mimg.mimg_file AS guest_img,
            rpl.rpl_content  AS host_reply,
            rpl.rpl_reg_dt AS host_rpl_dt
        FROM review_info rev
        LEFT JOIN member_info mi 
            ON rev.rev_mi_seq = mi.mi_seq
        LEFT JOIN member_img mimg 
            ON mi.mi_mimg_seq = mimg.mimg_seq
        LEFT JOIN review_reply rpl 
            ON rev.rev_seq = rpl.rpl_rev_seq
        WHERE rev.rev_public = 1
        AND rev.rev_hi_seq = #{house_seq}
        AND (
                mi.mi_name like concat('%',#{keyword},'%')
                OR rev.rev_content like concat('%',#{keyword},'%')
            )
    </select>

    <select id="selectHouseAmenityList" resultType="com.airbnb.airbnb_service.data.temp.detail.HouseAmenityVO">
        SELECT
            ca.ca_type AS amenity_type,
            ca.ca_content AS amenity_content,
            ca.ca_description AS amenity_description,
            ca.ca_icon AS amenity_icon
        FROM house_amenity_info ham
        LEFT JOIN category_amenity ca 
            ON ham.ham_ca_seq = ca.ca_seq
        WHERE ham_hi_seq = #{house_seq}
        ORDER BY ca.ca_type asc
    </select>

    <select id="selectHouseReviewPoint" resultType="com.airbnb.airbnb_service.data.temp.detail.HouseReviewPointVO">
        SELECT
            clean_avg,
            correct_avg,
            communication_avg,
            location_avg,
            chechin_avg,
            cost_avg,
            total_avg
        FROM rev_point_view 
        WHERE rpv_hi_seq = #{house_seq}
    </select>

    <select id="selectHouseAndReviewCnt" resultType="com.airbnb.airbnb_service.data.temp.detail.HouseAndReviewCntVO">
        SELECT 
            COUNT(*) AS hosting_house_cnt,
            SUM(rev_cnt) AS total_review_cnt
        FROM house_info hi
        LEFT JOIN (
                    SELECT 
                        rev_hi_seq, 
                        COUNT(*) AS rev_cnt
                    FROM review_info
                    GROUP BY rev_hi_seq
                )rev
            ON hi.hi_seq = rev.rev_hi_seq
        GROUP BY hi_mi_seq
        HAVING hi_mi_seq = #{house_seq}
    </select>

    <select id="selectHouseImageList" resultType="java.lang.String">
        SELECT himg_file AS house_image
        FROM house_img himg
        WHERE himg_hi_seq = #{house_seq}
        ORDER BY himg_main desc
    </select>

    <select id="selectHostLangList" resultType="java.lang.String">
        SELECT cl.cl_content AS lang
        FROM member_lang_info mli
        LEFT JOIN category_lang cl 
            ON mli.mli_cl_seq = cl.cl_seq
        WHERE mli.mli_mi_seq = 1
    </select>

</mapper>