<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.airbnb_service.mapper.temp.tempTripMapper">
<select id="selectTripResponse" resultType="com.airbnb.airbnb_service.data.temp.TripResponseVO">
    select bi.bi_seq, bi.bi_start_dt, bi.bi_end_dt, bi.bi_reg_dt, bi.bi_status, bi.bi_confirm_dt,
            bgi.bgi_adult as adult,
            bgi.bgi_child as child,
            bgi.bgi_infant as infant,
            bgi.bgi_dog as dog,
            hi.hi_seq,
            hi.hi_name,
            cc.cc_content as country,
            hai.hai_city as city,
            hai.hai_detail as detail,
            himg.himg_file as main_img,
            ifnull(wish_seq,0) as wish_seq
    from booking_info bi
    left join booking_guest_info bgi on bi.bi_bgi_seq = bgi.bgi_seq 
    left join house_info hi on bi.bi_hi_seq = hi.hi_seq 
    left join house_address_info hai on hi.hi_hai_seq = hai.hai_seq 
    left join (
            select * from house_img where himg_main = 1
    )himg on himg.himg_hi_seq = hi.hi_seq 
    left join category_country cc on hai.hai_cc_seq = cc.cc_seq 
    left join wish_info wish on bi.bi_hi_seq = wish.wish_hi_seq and bi.bi_mi_seq = wish.wish_mi_seq 
    where bi_mi_seq = #{bi_mi_seq}
</select>
</mapper>